@model IEnumerable<Test.Models.Employees.Employees_IndexModel>

@{
    ViewData["Title"] = "員工";
}

<h1>員工</h1>

<p>
    <a asp-action="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleOfCourtesy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleOfCourtesy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.ActionLink("詳細", "Details", new {  id=item.EmployeeID })
            </td>
        </tr>
}
    </tbody>
</table>
